.progress-bar {
  height: 40px;
  padding: 5px;
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  span {
    display: inline-block;
    height: 100%;
    border-radius: 3px; //box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .1s ease-in-out;
    background-color: #0085ba;
    .progress-text {
      text-align: left;
      color: #fff;
      width: 100%;
      background: none;
      padding: 5px;
      box-sizing: border-box;
    }
  }
}

.info {
  font-size: 16px;
}


.general {
  padding: 10px;
  background: #fff;
  border: solid 1px rgb(229, 229, 229);
}

.green {
  color: #46b450;
  font-weight: bold;
}
.red {
  color: #d54e21;
  font-weight: bold;
}

.dmo-sgg-notices {
  .dmo-sgg-notice {
    display: none;
  }
}
